
.table {
    font-family: inherit;
    border-collapse: collapse;
    width: 100%;
  }
  
  .td, .th {
    border: 1px solid #fbfbfb;
    text-align: left;
    padding: 8px;
  }
  
  .tr:nth-child(even) {
    background-color:#fbfbfb;
  }
  